<div class="raw">
  <div class="col-md-4 col-xs-12 text-center">
    <%= image_tag(@movie.poster) %>
  </div>

  <div class="col-md-4 col-xs-12">
    <div class="col-xs-12"><h2><strong><%= @movie.title %></h2></strong></div>

    <div class="col-xs-12"><strong>Year: </strong><%= @movie.year %></div>
    <div class="col-xs-12"><strong>Released: </strong><%= @movie.released %></div>
    <div class="col-xs-12"><strong>Runtime: </strong><%= @movie.runtime %></div>
    <div class="col-xs-12"><strong>Genre: </strong><%= @movie.genre %></div>
    <div class="col-xs-12"><strong>Director: </strong><%= @movie.director %></div>
    <div class="col-xs-12"><strong>Writer: </strong><%= @movie.writer %></div>
    <div class="col-xs-12"><strong>Actors: </strong><%= @movie.actors %></div>
    <div class="col-xs-12"><strong>Plot: </strong><%= @movie.plot %></div>
    <div class="col-xs-12"><strong>Language: </strong><%= @movie.language %></div>
    <div class="col-xs-12"><strong>Country: </strong><%= @movie.country %></div>
    <div class="col-xs-12"><strong>Awards: </strong><%= @movie.awards %></div>
  </div>

  <div class="col-md-4 col-xs-12 text-center">
    <h2>Reviews</h2>
  </div>
</div>
